/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
font-family: Georgia, "Times New Roman", Times, serif;
}

p {
padding-left: 28px;
}

li {
float: left;
}

ul a {
padding-right: 24px;
padding-left: 24px;
display: block;
text-decoration: none;
font-size: 21px;
color: #371C1C;
}

ul a:hover {
text-decoration: underline;
}
